.card{
    border: 5px solid black;
    border-radius: 10px;
    height: 400px auto;
    width: 300px;
}

.pimage{
    width: 300px;
    height: 300px;
}

.homepage{
    display: grid;
    grid-template-columns: 300p 300px 300px;
    justify-content: space-around;
    align-content: space-around;
    gap: 30px;
}

#rating{
    background-color: aquamarine;
    padding: 0px;
}
.desc{
    padding: 10px;
}
.rate{
    display: flex;
    justify-content: space-around;
    align-items: center;
}